/* Globales Styling */
body {
	margin: 0;
	padding-top: 110px; /* Platz für den fixierten Header, Höhe anpassen falls nötig */
	font-family: "Roboto", sans-serif;
}

/* Fixierter Header */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333; /* Hintergrundfarbe ändern */
	color: #ffcc00; /* Textfarbe ändern */
	padding: 1.5rem; /* Padding vergrößern */
	z-index: 1000;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Schatten vergrößern */
}

header h1 {
	margin: 0;
	font-size: 1.5rem;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 1rem;
}

nav ul li a {
	color: white;
	text-decoration: none;
}


#card-container {
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
